body{
    background-color: #6ab0edad;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(https://www.pogo.com/static/v2/media/src/assets/games/pogodailysudoku_h5/spotlightGame__1O2VC.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    height: 600px;
    
}
/* nvbar */
.nav{
   background-color: #070d39;
   display: flex;
   flex-direction: row;
   padding: 1rem 4rem;
   align-items: center; 
}
.logo{
    margin-right: 2rem;
}
.nav-links, .nav-links a{
 justify-content: center;
 text-decoration: none;
 align-items: center;
 color: rgb(191, 206, 216);
 display: flex;
 font-size: 20px;
 gap: 2rem;

}
.theme-toggle:hover,.nav-links a:hover{
    color: #0fcc8d;
    padding: 0.5rem 1rem;
    border-radius: 5px;  
    background-color: #4e5268a3;
}
/* Theme switcher toggle positioning */
.theme-toggle-container{
  position: absolute;
  display: flex;
  color: #ccc;
}
.checkbox {
  display: none;
  cursor: pointer;
}
html:has(#dark-toggle:checked) body {
  background-color: #121212;
  color: #e0e0e0;
}
html:has(#dark-toggle:checked) .container,
html:has(#dark-toggle:checked) .box{
  background-color: #201f1fad;
}
html:has(#dark-toggle:checked) #board {
  background-color: #d2dff1ad;
}
html:has(#dark-toggle:checked) .stats {
  background-color: #3c3c3c;
}
html:has(#dark-toggle:checked) .tile,
html:has(#dark-toggle:checked) .number {
  color: #5f0d0d;
  border: #020112 1px solid;
}
html:has(#dark-toggle:checked) .number-selected {
  background-color: #ebf3ee;
  border: 3px solid #9bab07;
}
html:has(#dark-toggle:checked) .horizontal-line {
    border-bottom: 3px solid rgb(29, 36, 239);
}
html:has(#dark-toggle:checked) .vertical-line {
    border-right: 3px solid rgb(29, 36, 239);
}

.left{
    display: flex;
    flex-direction: column;
    width: 50%; 
    padding-left: 5rem;
    padding-top: 10rem;  
    
}
.left h1{
    font-size: 3rem;
    margin: 0;
    padding: 0px;
    background: linear-gradient(to right, #f7a64b, #ef351c); /* red to blue */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left .subtitle{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
.left .btn{
    background-color: #f0f0f0;
    color: black;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 1rem;
    text-decoration: none;
    width: 150px;
   text-align: center;
}
.left .btn:hover{
   background-image: linear-gradient(to right , #31ca9a, #233b98);
    color: rgb(255, 255, 255);
}
/* ----------------main------------------- */
#sudoku-board {
   justify-content: center;
    align-items: center;
    padding:  2rem 8rem 0 8rem;
    
}
.container{
    border-radius: 10px;
    background-color: rgb(231, 246, 239);
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 7px solid black;
    padding: 0.5rem;
    margin: 5px auto;
    background-color: #67e0c667;
    box-shadow: #1c5be2 0px 0px 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.tile {
    width: 47px; 
    height: 47px;
    border: 1px solid rgb(151, 148, 148);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 455px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid rgb(184, 182, 182);
    margin: 2px;
    background-color: #8bddea;
    border-radius: 10px;
    cursor: pointer;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: rgba(25, 201, 177, 0.747);
    border: 2px solid rgb(48, 84, 229);
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}
 
.correct { background-color: lightgreen !important; }
.incorrect { background-color: rgba(247, 138, 138, 0.916) !important; }
.highlight { transition: background-color 0.3s; }
.stats{
    display: flex;
    background-color: rgb(189, 225, 251);
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    margin: 0.5rem auto;
    font-size: 18px;
    border-radius: 8px;
    width: 450px;
}
#controls, .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
    width: 450px;
    gap: 0.8rem;
    
}
 .solve, .check, .all {
    width: 200px;
    height: 33px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    
}
.solve{ background-color: #18dc50;}
.check{background-color: #f6e654;}
.all{background-color: #f13d3d;}

.mode{
    background-color: #8cf1dd;
    color: black;
    border-radius: 5px;
    padding: 0.5rem;  
    font-size: 20px;

}
#difficulty-select{
    background-color: #dbf2ff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
.start{
    background-color: #115bd9;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 18px;
    cursor: pointer;
    border: none;
    width: 100%;
}
.start:hover{
    background-color: #0f07ab;
    box-shadow: #115bd9 0px 0px 10px;
}
.hint, .reset{
    background-color: #1ce2b4;
    color: rgb(15, 17, 17);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
 

/* ---------------guideing section-------------- */
.guide {
    padding:  2rem 8rem 2rem 8rem;
    justify-content: center;
    align-items: center;
   
}
.guide h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.guide-header p, .guide-content p{
   font-family: cursive;
   font-size: 1rem; 
}
.guide .box{
    background-color: rgb(208, 243, 227);
    padding: 5px;
    border-radius: 10px;
    line-height: 1.5;
}

.footer {
   background-color: #070d39;
    color: #f8f3f3;
    padding: 1rem 8rem 1rem 8rem;
    position: relative;
    bottom: 0;
}
.gap{
   width: 100%;
}
.footer a{
    color: white;
    text-decoration: none;
}
.foot-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.foot-content a:hover{
    color: #0f96cc;
    text-decoration: underline;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin : 2rem;
    font-size: 30px;
}
.social a:hover{
    color: rgb(26, 146, 190);
    text-decoration: none;
}

/* ----responsive---- */
@media(max-width: 768px) {
    header{
        width: 100%; 
        padding: 1rem;
    }
    .left{
        padding-left: 2rem;
        padding-top: 5rem;
        width: 100%;
    }
    .nav{
        position:fixed;
        padding: 1rem;
        width: 100%;
        height: 30px;
    }
    .nav-links, .nav-links a{
        font-size: 18px;
        gap: 0.7rem;
    }
    #sudoku-board {
        padding: 1rem;
        width: 100%;
        display: flex;
    }
    #board {
        width: 345px;
        height:345px;
        padding: 0.3rem;   
    }
    .tile {
        width: 35px; 
        height: 35px;
        font-size: 16px;
    }
    #digits {
        width: 100%;
        height: 40px;
        align-items: center;  
        justify-content: center;
    }
    .number {
        width: 32px; 
        height: 32px;
        font-size: 16px;}
    .stats {
        width: 90%;
        font-size: 11px;
    }
    #controls, .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 100%;
    gap: 1rem;
    
}
    .guide{
        display:flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
      }
    .box,.container{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .check, .mode{
        font-size: 15px;
    }
    .footer {
        padding: 1rem;
        width: 100%;
        flex-direction: column;
        display: flex;  
    }  
}
